/******************************************
/* BASE STYLES
/*******************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  background: #000;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px;
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0;
}

/******************************************
  /* LAYOUT
  /*******************************************/

video {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -10;
}

h1 {
  background: #000;
  color: #fff;
  font-size: 2.5em;
  text-align: center;
}
h2 {
  color: #fff;
  font-size: 7em;
  text-align: center;
  margin-top: 0em;
  margin-bottom: -5px;
}
.table {
  margin: auto;
  margin-top: 7%;
}
td {
  border: none;
  margin: auto;
  height: 2%;
  width: 2%;
}
img {
  height: 250px;
  width: 100%;
  padding: 0;
  border: 0;
}
.button {
  align-items: center;
  display: flex;
  justify-content: center;
}
button {
  text-align: center;
  font-size: 1.5em;
  height: 2em;
  width: 15em;
  color: #fff;
  background: #004;
  border-radius: 2em;
  border-color: #004;
  margin-bottom: 1em;
}
